[Desktop Entry]
Encoding=UTF-8
Name=Nyc3 Core
Comment=Connect to the Nyc3 P2P Network
Comment[de]=Verbinde mit dem Nyc3 peer-to-peer Netzwerk
Comment[fr]=Nyc3, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Nyc3, eşten eşe kriptografik sanal para birimi
Exec=nyc3-qt %u
Terminal=false
Type=Application
Icon=nyc3128
MimeType=x-scheme-handler/nyc3;
Categories=Office;Finance;
